<div class="background-layer"></div>
<div class="banner-container">
  <app-navbar />
  <div class="banner-content flex">
    <div class="banner-left">
      <button class="btn">👋 Welcome to TeamFlow</button>
      <div class="quote-container">
        <p class="banner-title">
          Work the way that <br />
          works for you
        </p>
      </div>
      <div class="line"></div>
      <div>
        <div class="quote-container">
          <p class="banner-subtitle">
            Create, Build, Collaborate and ship products <br />
            very faster
          </p>
        </div>
        <button class="btn btn-start">Get Started</button>
      </div>
    </div>
    <div class="banner-right flex flex-column">
      <div class="flex flex-column">
        <div class="flex">
          <img src="./assets/images/Group_43.png" alt="group 1" />
          <img src="./assets/images/Group_44.png" alt="group 1" />
        </div>
        <div class="flex">
          <img src="./assets/images/Group_46.png" alt="group 1" />
          <img src="./assets/images/Group_55.png" alt="group 1" />
        </div>
      </div>
    </div>
  </div>
</div>
